.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar .ant-menu-title-content a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.fileList {
  margin-top: 5px;
  width: 422px;
  border: thin solid #cecece;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  overflow-y: auto;
}

.fileList .fileItem img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.fileList .fileItem {
  width: 140px;
  padding: 10px;
}

.fileList .fileItem button {
  width: 100%;
  margin-top: 5px;
}